create database [PRJ321_SUMMER_2019_V2]
Go
USE [PRJ321_SUMMER_2019_V2]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 5/27/2019 9:41:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departments](
	[did] [int] NOT NULL,
	[dname] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/27/2019 9:41:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[eid] [int] IDENTITY(1,1) NOT NULL,
	[ename] [varchar](150) NOT NULL,
	[edob] [date] NOT NULL,
	[egender] [bit] NOT NULL,
	[did] [int] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Students]    Script Date: 5/27/2019 9:41:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Students](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[sname] [varchar](150) NOT NULL,
	[sdob] [date] NOT NULL,
	[sgender] [bit] NOT NULL,
	[did] [int] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Departments] ([did], [dname]) VALUES (1, N'Computer Science')
INSERT [dbo].[Departments] ([did], [dname]) VALUES (2, N'Software Engineering')
INSERT [dbo].[Departments] ([did], [dname]) VALUES (3, N'Information Assurance')
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([eid], [ename], [edob], [egender], [did]) VALUES (1, N'Employee A', CAST(0xCA1E0B00 AS Date), 1, 1)
INSERT [dbo].[Employees] ([eid], [ename], [edob], [egender], [did]) VALUES (2, N'Employee B', CAST(0x3A200B00 AS Date), 1, 1)
INSERT [dbo].[Employees] ([eid], [ename], [edob], [egender], [did]) VALUES (3, N'Employee C', CAST(0x431D0B00 AS Date), 0, 2)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([sid], [sname], [sdob], [sgender], [did]) VALUES (1, N'Student A', CAST(0xCA1E0B00 AS Date), 1, 1)
INSERT [dbo].[Students] ([sid], [sname], [sdob], [sgender], [did]) VALUES (2, N'Student B', CAST(0x3A200B00 AS Date), 1, 1)
INSERT [dbo].[Students] ([sid], [sname], [sdob], [sgender], [did]) VALUES (3, N'Student C', CAST(0x431D0B00 AS Date), 0, 2)
SET IDENTITY_INSERT [dbo].[Students] OFF
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([did])
REFERENCES [dbo].[Departments] ([did])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Departments] FOREIGN KEY([did])
REFERENCES [dbo].[Departments] ([did])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Departments]
GO
