.banner{
    display: flex;
}
.banner img{
    width: 100%;
}
.banner .left{
    width: 50%;
}
.banner .right{
    width: 50%;
}

#about{
padding: 64px;
text-align: center;
}

#about img{
padding: 32px;
}

#about p:nth-child(2){
color: red;
}

#about button{
margin-top: 20px;
}

#about input{
    width: 60%;
}
input.form-control {
    margin: auto;
}