*{
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}
.navbar-brand span{
    color: blue;
}

.nav-item .nav-link{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: black;
}

.banner{
    width: 100%;
    padding: 197px 0 162px 0px;
    background-image: url(image/Hero_Large.png);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    color: white;
}
.banner h2{
    font-weight: 400;
    font-size: 40px;
}

.banner a{
    border-radius: 30px;
    padding: 10px 20px;
    background-color:#3E50E5; ;
}


.seller h2{
    font-weight: 400;
    font-size: 34px;
    color: #000000;
    padding-top: 50px;
    padding-bottom: 20px;
}
.seller .bound{
    width: 66px;
    height: 3px;
    margin: auto;
    background-color:#67F11D;
    margin-bottom: 30px;
}

.seller .card {
  border-radius: 7px;
  height: 
  561px;
}

.seller .card img{
margin: auto;
} 

.image-control{
    width: 100%;
    height: 300px;
}

.img1{
width: 252px;
height: 244px;
}
.img2{
    width: 157px;
    height: 198px;
}

.img3{
    width: 276px;
    height: 198px;
}

#text-red{
    color: #EC1C1C;
}
.seller .card h6{
    color: #3E50E5;
    font-weight: 400;
    font-size: 14px;
}

.seller .card h5{
    font-weight: 400;
    font-size: 20px;
}

.seller .card p{
    font-weight: 400;
    font-size: 28px;
   
}

.seller .card del{
   font-size: 16px;
   color: #9B9B9B;
}

.seller .card a{
    border-radius: 30px;
    padding: 10px 35px;
    border: 1px solid black;
}

.signup{
    margin: 50px;
}

.form-content {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #C8C8C8;;
}

.newItem {
    background-color: #EC1C1C;
    color: white;
    font-weight: 600;
    width: fit-content;
   padding: 5px 10px;
   border-radius: 15px;
}
@media (max-width: 576px){
      .banner{
        
        background-image: url(image/image3.png);
    
      }

      .banner-conten{
      }
      .banner-content p{
      display: none;
      }
 
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .banner{
        background-image: url(image/image3.png);
      }
    

      .seller-item{
        margin: 10px;
      }

      .banner-content{
        display: block;
      }

      .banner-content p{
        display: none;
      }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .banner{
        background-image: url(image/image2.png);
      }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .banner{
    background-image: url(image/image1.png);
  }
 }

