USE [master]
GO
/****** Object:  Database [ShoppingOnlineDB]    Script Date: 2/15/2022 7:19:12 PM ******/
CREATE DATABASE [ShoppingOnlineDB]
GO
USE [ShoppingOnlineDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/15/2022 7:19:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2/15/2022 7:19:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[quantity] [int] NULL,
	[price] [float] NULL,
	[description] [nvarchar](255) NULL,
	[image_url] [nvarchar](255) NULL,
	[created_date] [date] NULL,
	[category_id] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([id], [name]) VALUES (1, N'Mazda')
INSERT [dbo].[Category] ([id], [name]) VALUES (2, N'Mercedes-Benz')
INSERT [dbo].[Category] ([id], [name]) VALUES (3, N'Chevrolet')
GO
INSERT [dbo].[Product] ([id], [name], [quantity], [price], [description], [image_url], [created_date], [category_id]) VALUES (1, N'G-Series 2500', 9, 6.3, N'Family disruption due to other extended absence of family member', N'http://dummyimage.com/100x100.png/ff4444/ffffff', CAST(N'2021-08-23' AS Date), 8)
INSERT [dbo].[Product] ([id], [name], [quantity], [price], [description], [image_url], [created_date], [category_id]) VALUES (2, N'DeVille', 8, 12.5, N'Other specified disorders of urethra', N'http://dummyimage.com/224x100.png/ff4444/ffffff', CAST(N'2021-04-03' AS Date), 1)
INSERT [dbo].[Product] ([id], [name], [quantity], [price], [description], [image_url], [created_date], [category_id]) VALUES (3, N'Gallardo', 18, 10.3, N'Accidental poisoning by other paints and varnishes', N'http://dummyimage.com/242x100.png/ff4444/ffffff', CAST(N'2021-01-21' AS Date), 6)
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([id])
GO
USE [master]
GO
