*{
    margin: 0;
    padding: 0;
}

.thanhxanh {
    height: 50px;
    background-color: #3b5998;
    /* height: 200px; */
}

.motphantu{
    position: relative;
    float: right;
    margin-right:200px ;
    margin-top: 7px;
    transition:0.4s;
}

.tamgiac{
    color: black;
    font-size: 20px;
    transition: 0.4s;
    cursor: pointer;
}
.danhsach{
    position: absolute;
    right: -5px;
    width: 200px;
    top: 44px;
    opacity: 0;
    visibility: hidden;
}

.danhsach::after{
    content: "";
    position: absolute;
    top: -20px;
    width: 0;
    height: 0;
    border: 11px rgba(255, 255, 0, 0) solid;
    border-bottom-color:white ;
    right: 8px;
}

.list-group-item{
    color: black;
    font-size: 13px;
    padding: 10px 26px;

}

.list-group-item:hover{
    color: white;
    background-color: gray;
}

.tamgiactrang{
    color: white;
}

.ra{
    visibility: visible;
    opacity: 1;
}