<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
   <div class="container">
    <div class="header">
      <div class="logo">
       <p> <span>Your</span> logo</p>
      </div>
      <div class="menu">
      <ul>
        <li>About us</li>
        <li>Promotion</li>
        <li>Newsletter</li>
      </ul>
      </div>
    </div>
    <div class="banner">
        <div class="banner-content">
            <h1>Explore our new smart watch series</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium quam tempora eaque velit quod iusto</p>
            <nav>See All Watches</nav>
        </div>
    </div>
    <div class="best-seller">

    </div>
    <div class="sigup">

    </div>
    <div class="footer">
        <div class="footer-content">

        </div>
    </div>
   </div>
</body>
</html>