<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../recources/css/login.css">
</head>
<body>
    <div class="login-table">
        <p class="sign-in">
            Please Sign In
        </p>
        <div class="login-box">
            <div id="input-email">
                <input id="email" type="text" placeholder="E-mail" required>
            </div>
            <div id="input-password">
                <input id="password" type="password" placeholder="Password">
            </div>

            <div class="check-box">
                <input type="checkbox"><label for="">Remember me</label>
            </div>
            <div id="login" class="btn-login">
                <span>Login</span>
            </div>
            <div id="register" class="register" >
                <a  href="register.html">Click here to Register</a>
            </div>

        </div>
    </div>

</body>
</html>