<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../recources/css/register.css">
</head>
<body>
    <div class="register-table">
        <p class="register">
            Register
        </p>
        <div class="register-box">
            <div class="w-75">
                <input id="username"type="text" placeholder="User name">
                <input id="email" type="text" placeholder="E-mail">
                <input id="password" type="password" placeholder="Password">
                <input id="re-password" type="password" placeholder="Re Password">
            </div>
            <div id="register" class="btn-register">
                <span>Register</span>
            </div>
            <div class="login" >
                <a  href="login.html">Click here to login</a>
            </div>

        </div>
    </div>
</body>
</html>