*{
    margin: 0;
    padding: 0;
}

.chieuso1{
    animation: chieu1 3s forwards!important;

}

@-webkit-keyframes chieu1{
    0% {transform: translateX(0px) translateY(0px);}
    25% {transform: translateX(200px) translateY(0px);}
    50% {transform: translateX(200px) translateY(200px);}
    80% {transform: translateX(500px) translateY(200px);}
    90% {transform: translateX(500px) translateY(500px);}
    100% {transform: translateX(700px) translateY(500px);}
}

#kcd{
    animation: chieu2 2s forwards ;

}

@-webkit-keyframes chieu2{
    100% {transform: translateX(0px) translateY(0px);}
    90% {transform: translateX(200px) translateY(0px);}
    80% {transform: translateX(200px) translateY(200px);}
    50% {transform: translateX(500px) translateY(200px);}
    25% {transform: translateX(500px) translateY(500px);}
    0% {transform: translateX(700px) translateY(500px);}
}

.ko-dong{
    animation: none!important;
}