USE [master]
GO
/****** Object:  Database [PRJ321_ADVANCE_FILTER]    Script Date: 10/9/2020 10:53:57 AM ******/
CREATE DATABASE [PRJ321_ADVANCE_FILTER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ321_ADVANCE_FILTER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PRJ321_ADVANCE_FILTER.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PRJ321_ADVANCE_FILTER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PRJ321_ADVANCE_FILTER_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ321_ADVANCE_FILTER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ321_ADVANCE_FILTER]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 10/9/2020 10:53:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departments](
	[id] [int] NOT NULL,
	[name] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 10/9/2020 10:53:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[dob] [date] NOT NULL,
	[gender] [bit] NOT NULL,
	[did] [int] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Students]    Script Date: 10/9/2020 10:53:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[dob] [date] NOT NULL,
	[gender] [bit] NOT NULL,
	[did] [int] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Departments] ([id], [name]) VALUES (1, N'Computer Science')
INSERT [dbo].[Departments] ([id], [name]) VALUES (2, N'Software Engineering')
INSERT [dbo].[Departments] ([id], [name]) VALUES (3, N'Information Assurance')
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([id], [name], [dob], [gender], [did]) VALUES (1, N'Employee A', CAST(N'1996-04-30' AS Date), 1, 1)
INSERT [dbo].[Employees] ([id], [name], [dob], [gender], [did]) VALUES (2, N'Employee B', CAST(N'1997-05-03' AS Date), 1, 1)
INSERT [dbo].[Employees] ([id], [name], [dob], [gender], [did]) VALUES (3, N'Employee C', CAST(N'1995-04-05' AS Date), 0, 2)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([id], [name], [dob], [gender], [did]) VALUES (1, N'Student A', CAST(N'1996-04-30' AS Date), 1, 1)
INSERT [dbo].[Students] ([id], [name], [dob], [gender], [did]) VALUES (2, N'Student B', CAST(N'1997-05-03' AS Date), 1, 1)
INSERT [dbo].[Students] ([id], [name], [dob], [gender], [did]) VALUES (3, N'Student C', CAST(N'1995-04-05' AS Date), 0, 2)
SET IDENTITY_INSERT [dbo].[Students] OFF
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([did])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Departments] FOREIGN KEY([did])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Departments]
GO
USE [master]
GO
