<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListStudentController</servlet-name>
        <servlet-class>controller.ListStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStudent</servlet-name>
        <servlet-class>controller.CreateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveNewStudentController</servlet-name>
        <servlet-class>controller.SaveNewStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentController</servlet-name>
        <servlet-class>controller.DeleteStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStuderntController</servlet-name>
        <servlet-class>controller.UpdateStuderntController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListStudentController</servlet-name>
        <url-pattern>/list-students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStudent</servlet-name>
        <url-pattern>/create-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveNewStudentController</servlet-name>
        <url-pattern>/save-new-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentController</servlet-name>
        <url-pattern>/delete-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStuderntController</servlet-name>
        <url-pattern>/update-student</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
